.image-card {
  border: 1px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px var(--color-shadow);
  cursor: pointer;
}

.image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-grey);
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-metadata {
  padding: 15px;
  background-color: var(--color-bg-off-white);
}

.image-metadata p {
  margin: 0 0 5px;
  font-size: 14px;
}

.image-metadata p:last-child {
  margin-bottom: 0;
}
